@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/UncutSans-Variable.woff2) format('woff2');
}
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/UncutSans-Variable.woff2) format('woff2');
}
@font-face {
  font-family: 'Uncut Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/UncutSans-Variable.woff2) format('woff2');
}

::view-transition-old(root) {
  animation: 400ms ease both fade-out;
}

.back::view-transition-new(root) {
  animation: 400ms ease both slide-from-left;
}
::view-transition-new(root) {
  animation: 400ms ease both slide-from-right;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translate3d(30px, 0, 0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate3d(-30px, 0, 0);
  }
}
