@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bdogrotesk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BDOGrotesk-Regular.otf) format('otf');
}
@font-face {
  font-family: 'Bdogrotesk';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/BDOGrotesk-Medium.otf) format('otf');
}
@font-face {
  font-family: 'Bdogrotesk';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/BDOGrotesk-Bold.otf) format('otf');
}

/* ::view-transition-old(root) {
  animation: 400ms cubic-bezier(0.2, 0.0, 0, 1.0) both fade-out;
} */

.back::view-transition-new(root) {
  animation: 400ms cubic-bezier(0.2, 0.0, 0, 1.0) both slide-from-left;
}
::view-transition-new(root) {
  animation: 400ms cubic-bezier(0.2, 0.0, 0, 1.0) both slide-from-right;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translate3d(30px, 0, 0);
  }
}

@keyframes slide-from-left {
  from {
    transform: translate3d(-30px, 0, 0);
  }
}
